<%- include("../partials/header.ejs"); -%> <%-
include("../partials/anavbar.ejs"); -%>
<h1>Edit Form</h1>
<h2><%= panorama.title %></h2>
<h2><%= panorama.location %></h2>
<h2><%= panorama.description %></h2>
<%- include("../partials/footer.ejs"); -%>
