<%- include("../partials/header.ejs"); -%> <%-
include("../partials/anavbar.ejs"); -%>

<h3 class="text-center">Modify Panorama</h3>
<!--* Table -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Modified By</th>
            <th scope="col">Date Modified</th>
            <th scope="col">Delete</th>
            <th scope="col">Modify</th>
        </tr>
    </thead>
    <tbody>
        <% for(let panorama of panoramas) { %>
        <tr>
            <td><%= panorama.title %></td>
            <td><%= panorama.location %></td>
            <td><%= panorama.author.name %></td>
            <td><%= panorama.date %></td>
            <!--* Delete Button  -->
            <td>
                <form class="d-inline" action="/panoramas/modify" method="POST">
                    <button
                        class="btn btn-danger"
                        name="deleteButton"
                        value="<%= panorama._id %>"
                        onclick="this.form.submit()"
                    >
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
            <!--* Modify Button  -->
            <td>
                <button
                    type="button"
                    class="btn btn-info"
                    data-bs-toggle="modal"
                    data-bs-target="#panorama-<%= panorama._id %>"
                >
                    <i class="fas fa-file-invoice"></i>
                </button>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<!--* Modal  -->
<!-- Modal -->
<% for(let panorama of panoramas) { %>
<div
    class="modal fade"
    id="panorama-<%= panorama._id %>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body"><%= panorama.author.name %></div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<% } %> <%-include("../partials/footer.ejs"); -%>
