<%- include("../partials/header.ejs"); -%> <%-
include("../partials/navbar.ejs"); -%>
<!--* Panellum API -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"
/>
<script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"
></script>
<!--* Panellum CSS -->
<link href="/css/panellum.css" rel="stylesheet" />

<!--* /Body  -->
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <a
            href="/"
            class="d-flex align-items-center text-dark text-decoration-none"
        >
            <span class="fs-4"
                ><i class="fas fa-street-view"></i> <%= panorama.title %>
            </span>
        </a>
    </header>
    <div class="p-3 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">360° Panorama</h1>
            <div id="panorama"></div>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Partial Panorama</h2>
                <div id="partial"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Description</h2>
                <p><%= panorama.description %></p>
            </div>
        </div>
    </div>
    <!--* Panellum JS  -->
    <script>
        panoramaURL = '<%= panorama.images[0].url %>';
        panoramaTitle = '<%= panorama.title %>';

        pannellum.viewer('panorama', {
            type: 'equirectangular',
            panorama: panoramaURL,
            autoLoad: true,
            autoRotate: -2,
            compass: true,
            northOffset: 247.5,
            title: panoramaTitle,
            author: 'Lorma Colleges',
        });
        pannellum.viewer('partial', {
            type: 'equirectangular',
            panorama: panoramaURL,
            autoLoad: true,
            haov: 149.87,
            vaov: 54.15,
            vOffset: 1.17,
        });
    </script>
    <%-include("../partials/footer.ejs"); -%>
</div>
